<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="canvas-to-blob.js"></script>
</head>
<body>

	<div>COMPARE</div>
	<form name="compare" method="POST" action="/compare-faces-s3"
		enctype="multipart/form-data">
		<table>
			<tr>
				<td>File to upload:</td>
				<td><input type="file" name="file" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Upload" /></td>
			</tr>
		</table>
	</form>

	<div>DETECT</div>
	<form name="detect" method="POST" action="/faces"
		enctype="multipart/form-data">
		<table>
			<tr>
				<td>File to upload:</td>
				<td><input type="file" name="file" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Upload" /></td>
			</tr>
		</table>
	</form>

	<div style="text-align: center;">
		<video id="screenshot-video" class="videostream"
			style="display: none;" autoplay=""></video>
		<img id="screenshot-img">
		<p>
			<button id="screenshot-button">Who am I</button>
		</p>
	</div>

	<video autoplay></video>
	<img src="">
	<canvas style="display: none;"></canvas>

	<script>

			const constraints = { video: true };
					
			function handleSuccess(stream) {
			  video.srcObject = stream;
			}
			
			function handleError(error) {
			  console.error('Rejected!', error);
			}
			
			navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);
			  
			const button = document.querySelector('#screenshot-button');
			const img = document.querySelector('#screenshot-img');
			const video = document.querySelector('#screenshot-video');
			const canvas = document.createElement('canvas');
			
			button.onclick = video.onclick = function() {
			  canvas.width = video.videoWidth;
			  canvas.height = video.videoHeight;
			  canvas.getContext('2d').drawImage(video, 0, 0);
			  
			  var blob = canvas.toBlob(canvas);
				            var formData = new FormData();
				            formData.append('file', blob, 'image.jpg');
				            var xhr = new XMLHttpRequest();
				            xhr.open("POST", "/compare-faces-s3");
							xhr.send(formData);
	
			  
			};
			
			function handleSuccess(stream) {
			  video.srcObject = stream;
			}
			
			navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);
			

		</script>
</body>
</html>